._tabs > .nav.nav-tabs {
    border: none;
    color: $dark;
    border-radius:0;
    position: relative;
    background-color: transparent;
    font-weight: bold;

    &.bg { background-color: $first; }
}

._tabs > div a.nav-item.nav-link {
    border: none;
    padding: 10px;
    color:$dark;
    background: transparent;
    border-radius:0;
}

._tabs > div a.nav-item.nav-link.active {
    border: none;
    padding: 10px;
    color:$dark;
    background: transparent;
    border-radius:0;
    border-bottom: 3px solid $primary;
}

.tab-content {
    background: transparent;
    line-height: 25px;
    border: none;
    padding-top:20px;
    position: relative;
    z-index: 1;

    .upcoming-box {
      display: flex;
      flex-direction: column;

      .upcoming-item {
        display: flex;
        flex-direction: row;
        // justify-content: flex-start;
        align-items: center;
        background: $first;
        border-radius: 0px 5px 5px 0px;
        width: 100%;

        .hour {
          border-radius: 5px 0px 0px 5px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: $primary;
          color: white;
          font-size: 12px;
          padding: 10px;
          width: 10%;
          white-space: nowrap;
        }

        .avatar {
          max-width: 10%;
          border-radius: 35px;
          width: 35px;
          height: 35px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: #bababa;
          color: $primary;
          font-weight: bold;
          font-size: 18px;
          padding: 5px;
          margin-left: 20px;
          margin-right: 20px;
          text-transform: uppercase;
        }

        .content {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          // align-items: center;
          width: 80%;

          .name {
            font-size: 14px;
            font-weight: bold;
            color:$dark;
            display: flex;
            flex-direction: column;
            white-space: nowrap;
            float: left;

            .time {
              font-size: 10px;
              margin-top: -6px;
              white-space: nowrap;
            }
          }

          .more {
            float: right;
            i {
              font-size: 12px;
              color: $primary;
            }
          }
        }
      }
    }

    .custom-box {
      display: flex;
      flex-direction: column;
      width: 100%;

      .time-select {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:flex-start;
        height: 35px;
        width: 70%;

        select {
          border: .5px solid $first;
          padding: 5px;
          width: 45%;
        }

        .midle {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          background-color: $brand-teal;
          height: 35px;
          width: 10%;
          padding: 5px;

          i {
            color: white;
          }
        }
      }

      .select-line {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-direction: row;

        select {
          padding: 5px;
          width: 100%;
        }
      }

      .applies {
        .days {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          width: 100%;

          .day {
            width: 25px;
            height: 25px;
            border-radius: 25px;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            background-color: darkgrey;
            cursor: pointer;

            &.active {
              background-color: $primary;
            }
          }
        }

        
      }
     }
}

._tabs > div a.nav-item.nav-link:hover,
._tabs > div a.nav-item.nav-link:focus {
    border: none;
    background: transparent;
    color:$dark;
    border-radius:0;
    width: auto;
    transition:background 0.20s linear;
    border-bottom: 3px solid $primary;
}

@media (max-width: 560px) {
  ._tabs > div a.nav-item.nav-link {
      font-size: 12px;
  }
  .tab-content {
      .upcoming-box {
        display: flex;
        flex-direction: column;

        .upcoming-item {
          display: flex;
          flex-direction: row;
          align-items: center;
          background: $first;
          border-radius: 0px 5px 5px 0px;
          width: 100%;

          .hour {
            border-radius: 5px 0px 0px 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: $primary;
            color: white;
            font-size: 9px;
            padding: 10px;
            width: 10%;
            white-space: nowrap;
          }

          .avatar {
            max-width: 10%;
            border-radius: 30px;
            width: 30px;
            height: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #bababa;
            color: $primary;
            font-weight: bold;
            font-size: 12px;
            padding: 10px;
            margin-left: 10px;
            margin-right: 10px;
            text-transform: uppercase;
          }

          .content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            // align-items: center;
            width: 80%;
            padding-right: 10px;

            .name {
              font-size: 12px;
              font-weight: bold;
              color:$dark;
              display: flex;
              flex-direction: column;
              white-space: nowrap;
              float: left;

              .time {
                font-size: 8px;
                margin-top: -6px;
                white-space: nowrap;
              }
            }

            .more {
              float: right;
              i {
                font-size: 12px;
                color: $primary;
              }
            }
          }
        }
      }
  }
}
