._tabs > .nav.nav-tabs {
    border: none;
    color: $dark;
    border-radius:0;
    position: relative;
    background-color: $first;
    font-weight: bold;
}

._tabs > div a.nav-item.nav-link {
    border: none;
    padding: 10px;
    color:$dark;
    background: transparent;
    border-radius:0;
}

._tabs > div a.nav-item.nav-link.active {
    border: none;
    padding: 10px;
    color:$dark;
    background: transparent;
    border-radius:0;
    border-bottom: 3px solid $primary;
}

.tab-content {
    background: transparent;
    line-height: 25px;
    border: none;
    padding-top:20px;
    position: relative;
    z-index: 1;

    .upcoming-box {
      display: flex;
      flex-direction: column;

      .upcoming-item {
        display: flex;
        flex-direction: row;
        // justify-content: flex-start;
        align-items: center;
        background: $first;
        border-radius: 0px 5px 5px 0px;

        .hour {
          border-radius: 5px 0px 0px 5px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: $primary;
          color: white;
          font-size: 12px;
          padding: 10px;
        }

        .avatar {
          border-radius: 35px;
          width: 35px;
          height: 35px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: #bababa;
          color: $primary;
          font-weight: bold;
          font-size: 18px;
          padding: 5px;
          margin-left: 20px;
          margin-right: 20px;
          text-transform: uppercase;
        }

        .content {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          .name {
            font-size: 14px;
            font-weight: bold;
            color:$dark;
            display: flex;
            flex-direction: column;
            white-space: nowrap;

            .time {
              font-size: 10px;
              margin-top: -6px;
              white-space: nowrap;
            }
          }

          .more {
            float: right;
            i {
              font-size: 12px;
              color: $primary;
            }
          }
        }
      }
    }
}

._tabs > div a.nav-item.nav-link:hover,
._tabs > div a.nav-item.nav-link:focus {
    border: none;
    background: transparent;
    color:$dark;
    border-radius:0;
    width: auto;
    transition:background 0.20s linear;
    border-bottom: 3px solid $primary;
}

@media (max-width: 560px) {

}
