.dashboard {
    padding: 20px 50px;
    margin-top: 0px;

    ._title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      button {
        border-radius: 5px;
        white-space: nowrap;
        background-color: white;

        i {
          color: $secondary;
        }
      }
    }

    .bookings {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      margin-top: 20px;
      
        .booking {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 10px;
            color: $dark;
            border-radius: 10px;
            width: 100%;
            cursor: pointer;
            background-color: white;
            margin-bottom: 10px;

            &.empty {
              background-color: transparent;
              color: $brand-teal;
              font-size: 20px;
            }

            .name {
              padding-right: 10px;
              white-space: nowrap;
            }

            .date {
              display: flex;
              align-items: center;
              color: $brand-teal;
              border-left: 1px solid rgba(0,0,0,0.1);
              padding-left: 10px;

              i {
                padding-right: 10px;
              }
            }

        }
    }
}

@media (max-width: $mobile-breakpoint) {
  .dashboard {
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    margin-top: 0px;

    ._title {
      display: flex;
      flex-direction: column;

      .text {
        p, h4 {
          white-space: nowrap;
        }
      }

      button {
        border-radius: 5px;
        white-space: nowrap;
        background-color: white;

        i {
          color: $secondary;
        }
      }
    }
  }
}
