.dashboard {
    padding: 20px;
    margin-top: 0px;

    .cards {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 20px;
      
        .card {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 25px;
            color: $dark;
            border-radius: 20px;
            font-weight: 300;
            max-width: 350px;
            width: 100%;
            cursor: pointer;
            background-color: #F4F9FC;
            border: 1px solid #F4F9FC;

            .gauche {
              display: flex;
              flex-direction: column;

              .number {
                font-family: 'Poppins Bold', Avenir, Calibri, sans-serif;
                color: $brand-darker;
                font-weight: 900;
                font-size: 44px;
                line-height: 1.2em;
              }


              .name {
                margin-top: 10px;
                white-space: nowrap;
                font-size: 18px;
                color: $brand-darker;
              }
            }
            .droite {
              background-color: $primary;
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              padding: 30px;
              border-radius: 20px;

              i {
                  font-size: 25px;
                  color: white;
              }
            }

        }
    }
}

@media (max-width: $mobile-breakpoint) {
  .dashboard {
    display: flex;
    flex-direction: column;

      .cards {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

          .card {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              padding: 10px;
              color: $dark;
              border-radius: 10px;
              font-weight: 300;
              max-width: 250px;
              width: 100%;
              margin-bottom: 20px;

              .gauche {
                display: flex;
                flex-direction: column;

                .number {
                  font-family: 'Poppins Bold', Avenir, Calibri, sans-serif;
                  color: $brand-darker;
                  font-weight: 900;
                  font-size: 24px;
                  line-height: 1.2em;
                }


                .name {
                  margin-top: 10px;
                  white-space: nowrap;
                  font-size: 14px;
                  color: $brand-darker;
                }
              }
              .droite {
                background-color: $primary;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 10px;
                border-radius: 10px;

                i {
                    font-size: 15px;
                    color: white;
                }
              }

          }
      }
  }
}
