.download-app {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.hab-footer {
    width: 100%;
    display: flex;
    flex-direction: column;

    .hab-footer-top {
        width: 100%;
        min-height: 300px;
        background-color: #000000;
        color: #ffffff;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 80px;

        .cardre {

            &.logo {
                min-width: 40%;
                padding-right: 40px;
            }

            &.other {
                min-width: 20%;
            }

            p {
                font-size: 12px;
                color: white;
            }

            h3 {
                color: $primary;
                font-size: 16px;
                margin-bottom: 30px;
            }

            button {
                border-radius: 5px;
            }

            ul {
                list-style-type: none;

                li {
                    margin-bottom: 10px;
                    cursor:pointer;
                    &:hover {
                        color: $secondary;
                    }
                }
            }

            .icons {
                display: flex;
                flex-direction: row;
                
                a {
                    padding-right: 20px;
                    text-decoration: none;
                    color: white;
                }

                i { 
                    font-size: 16px;

                    &:hover {
                        color: $primary;
                    }
                }
            }
        }
    }

    .hab-footer-bottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 30px;
        background-color: #000;
        color: #ffffff;
        padding: 20px;
        font-size: 14px;

        .copy {
            padding-top: 20px;
            margin-bottom: 20px;
        }        
        .line {
            width: 50%;
            border-bottom: #fff solid 1px;
        }
    }
}

@media (max-width: 560px) {
    .hab-footer {
        width: 100%;
        display: flex;
        flex-direction: column;

        .hab-footer-top {
            padding-top: 20px;
            padding-bottom: 20px;
            width: 100%;
            background-color: #000000;
            color: #ffffff;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .cardre {
                margin-bottom: 20px;

                &.logo {
                    width: 100%;
                }
    
                &.other {
                    width: 100%;
                }
    
                .icons {
                    display: flex;
                    flex-direction: row;
                    flex-wrap:wrap;
                    
                    a {
                        padding-right: 5px;
                        text-decoration: none;
                        color: white;
                    }
    
                    i { 
                        font-size: 12px; 
                    }
                }
            }
        }

        .hab-footer-bottom {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-bottom: 40px;
            font-size: 12px;

            .copy {
                padding-top: 20px;
                // margin-bottom: 20px;
            }        
            .line {
                width: 100%;
                border-bottom: #fff solid 1px;
            }
        }
    }
  }
