._header {
    width: 100%;
    background-color: $dark;
    padding: 20px 20px;
    border-bottom: 1px solid #e8ecf3;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-height: 60px;
    z-index: 999;
    position: sticky;

    .dashboard-brand {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;

      img {
          width: 150px;
          height: auto;
      }
    }

    ._droite {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        .notify {
          background-color: transparent;
          margin-right: 10px;
          i {
            font-size: 30px;
          }
        }

        .avatar {
          background-color: #f1f1f1;
          width: 40px;
          height: 40px;
          border-radius: 40px;
          border: 1px solid #f1f1f1;
          padding: 5px;
        }

        .dropdown {
          margin-left: 10px;

          .profil-name {
            span {
              font-size: 14px;
            }
          }

          .dropdown-menu {
            width: auto;
            font-size: 12px;
            border: none;
            padding-top: 0px;
            padding-bottom: 0px;

            .dropdown-menu-item {
              font-size: 12px;

              &:hover {
                background-color: $primary;
                color: white;
              }
            }
          }
        }
    }
}

@media (max-width: $mobile-breakpoint) {
  ._header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;

    .dashboard-brand {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;

      img {
          width: 100px;
          height: auto;
      }
    }

    ._droite {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        .notify {
          background-color: transparent;
          margin-right: 5px;
          i {
            font-size: 18px;
          }
        }

        .avatar {
          background-color: #f1f1f1;
          width: 20px;
          height: 20px;
          border-radius: 20px;
          border: 1px solid #f1f1f1;
          padding: 5px;
        }

        .dropdown {
          margin-left: 5px;

          .profil-name {
            span {display: none; }
          }

          .dropdown-menu {
            width: auto;
            font-size: 10px;
            border: none;
            padding-top: 0px;
            padding-bottom: 0px;

            .dropdown-menu-item {
              font-size: 10px;

              &:hover {
                background-color: $primary;
                color: white;
              }
            }
          }
        }
    }
  }
}
