._header {
    width: 100%;
    background-color: $dark;
    padding: 20px 20px;
    border-bottom: 1px solid #e8ecf3;
    color: white;

    .dashboard-brand {
      img {
          width: 170px;
          height: auto;
      }
    }
    @media (max-width: $mobile-breakpoint) {
      .dashboard-brand {
        img {
            width: 100px;
            height: auto;
        }
      }
    }

    .title {
        color: $titleColour;
        font-size: 1.1em;
        font-weight: bold;
        i { margin-left: 10px; font-size: 22px }
    }

    ._header-auth {
        font-size: 14px;
        font-weight: bold;
        margin-top: -9px;
    }

    ._header-location {
        font-size: 13px;
    }
}


._subheader {
    padding: 0 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e8ecf3;

    label {
        color: $titleColour;
        font-size: 14px;
        font-weight: 500;
    }
}
