.navbar-default {
  background-color: white;

  a {
    color:black;
    font-weight: bold;

    &.btn {
      color: white;
      border-radius: 5px;
      max-width: 200px;
    }
  }

  .navbar-toggler {
    &.collapsed {
      span {
        color: black;
      }
    }
  }
}
@media (max-width: 560px) {
  nav {
    margin:0;
  }
}