.navbar-default {
  background-color: white;

  .padding {
    padding-left:70px;
  }

  .dropdown {
    .dropdown-menu {
      padding:0px;

      .dropdown-item {
        font-size: 14px;

        &:hover, &:focus {
          color: $secondary;
          background-color: transparent;
        }
      }
    }
  }

  a {
    color:black;
    font-weight: bold;
    padding: 0px 10px;

    &:hover,  &:focus, &.active {
      color: $secondary;
    }

    i {
      margin-top:10px;
      font-size: 25px;
      color: #ccc;
    }

    &.btn {
      color: white;
      border-radius: 5px;
      max-width: 200px;
    }
  }

  .navbar-toggler {
    &.collapsed {
      span {
        color: black;
      }
    }
  }
}
@media (max-width: 560px) {
  nav {
    margin:0;
  }
}