.brand {
  font-weight: bold;
  font-size: 20px;

  img {
      width: 200px;
      height: auto;
  }
}
@media (max-width: $mobile-breakpoint) {
  .brand {
    img {
        width: 170px;
        height: auto;
    }
  }
}
#myHeader {
  background-color: white;
  
}
.site-header {
  position: relative;
  background-color: transparent;
  font-family: 'Poppins Regular', sans-serif;

  ul {
    list-style: none;
  }
}

.site-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
  @media (min-width: 560px) {
    .site-header__wrapper {
      padding-top: 0;
      padding-bottom: 0;
    }
}

@media (min-width: 560px) {
  .nav__wrapper {
    display: flex;
  }
}

@media (max-width: 560px) {
  .nav__wrapper {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 2;
    background-color: #f7ddde;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    border-radius: 20px;
  }

    .nav__wrapper.active {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
}

.nav__item {

  a {
    display: block;
    padding: 1rem 1rem;
    color: $dark;
    text-decoration: none;
    font-family: 'Poppins Regular', sans-serif;
    font-weight: bold;
  
    &:hover, &:focus {
        color: $primary;
    }
  }

  &.signin { display: none }
}

@media (max-width: 560px) {
  .nav__item {
    a {
      display: block;
      color: $dark;
      text-decoration: none;
      font-family: 'Poppins Regular', sans-serif;
      font-weight: bold;
  
      &:hover, &:focus {
        color: $primary;
      }
  }
  &.signin { display: block; cursor: pointer; }
  }
}

.nav__toggle {
  display: none;
}
@media (max-width: 560px) {
    .nav__toggle {
      display: block;
      position: absolute;
      right: 1rem;
      top: 2.1rem;
      border: none;
      background-color: transparent;
      cursor: pointer;

      i {
        font-size: 30px;
      }
      &:focus {
          border: none;
      }
    }
}

.site-header__end {
    margin-right: 30px;
    cursor: pointer;

    a {
      background-color: $primary;
      height: 42px;
      border-radius: 42px;
      color: white;
      padding: 8px;
      text-decoration: none;

      span {
        color:white;
      }

      i { display: none; }
    }
}
@media (max-width: $mobile-breakpoint) {
  .site-header__end { display: none; }

}
