.schedule {
  width: 100%;

  .filter-box {display: none;}

  .header-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    max-height: 50px;
    width: 100%;

    .schedule-spacer { width: 30%; }
    .filter { display: none; }

    .actions-gauche {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      .gauche, .droite {
        // max-width: 10%;
        background-color: #F4F9FC;
        color: $dark;
        padding: 10px;
        width: 40px;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 5px;
        border: 1px solid #F4F9FC;
        margin-right: 10px;

        i {
          color: $dark;
          font-size: 18px;
        }
      }

      .date {
        color: $dark;
        white-space: nowrap;
        max-width: 20%;
        font-size: 18px;
        font-weight: bold;
        margin-right: 10px;
      }
    }

    select {
      background-color: #F4F9FC;
      color: $dark;
      padding: 10px;
      cursor: pointer;
      border-radius: 5px;
      border: 1px solid #F4F9FC;
      margin-right: 10px;
    }

    .btns {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .action {
        background-color: #F4F9FC;
        color: $dark;
        padding: 10px;
        width: 40px;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 5px;
        border: 1px solid #F4F9FC;
        margin-right: 10px;

        i {
          color: $dark;
          font-size: 30px;
        }
      }
    }
  }

  ._table {
    width: 100%;
    margin-top: 20px;

    .add {
      padding: 10px;
      background-color: rgba(137,0,0,0.2);
      color: $primary;
    }

    table {
      width: 100%;

      thead {

        tr {
          border: 1px solid #eee;

          th {
            color: $dark;
            font-weight: bold;
            text-align: left;
            padding: 10px;
            border: 1px solid #eee;

            &.th-40 {width: 40%;}
            &.th-30 {width: 30%;}
            &.th-12 {width: 12%;}
            &.th-10 {width: 10%;}
            .date {
              display: flex;
              flex-direction: column;

              .week-day {
                font-size: 12px;
                color: $brand-teal;
              }
              .day {
                font-size: 20px;
                color: $dark;
                font-weight: bold;

                &.active {
                  color: $primary;
                }
              }
            }
          }
        }
      }
      tbody {
        tr {
          border-bottom: 1px solid #eee;

          &.bg {
            background-color: rgba(137,0,0,0.1);
            color: $dark;
          }

          td {
            color: $dark;
            text-align: left;
            padding: 5px;
            border: 1px solid #eee;
            cursor: pointer;
            height: 30px;
            min-height: 30px;

            &.applicable {
              background-color:rgba(0,128,0,0.2);
              color:rgb(0,128,0);
              text-align: center;
              text-transform: uppercase;
            }

            &.not-applicable {
              background-color:rgba(137,0,0,0.2);
              color:rgb(137,0,0);
              text-align: center;
              text-transform: uppercase;
            }

            .profile {
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-items: center;

              i {
                font-size: 30px;
                color: $brand-teal;
              }

              .avatar {
                border-radius: 30px;
                width: 30px;
                height: 30px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: rgba(137,0,0,0.1);
                color: $primary;
                font-weight: bold;
                font-size: 12px;
                padding: 5px;
                margin-right: 5px;
                text-transform: uppercase;
              }

              .content {
                display: flex;
                flex-direction: column;

                .name {
                  font-size: 12px;
                  font-weight: bold;
                  color:$dark;
                  display: flex;
                  flex-direction: column;
                  white-space: nowrap;
                  float: left;
                }

                .hrs {
                  font-size: 8px;
                  margin-top: -4px;
                  white-space: nowrap;
                  color: $brand-teal;
                }
              }
            }

            &.th-40 {
              width: 40%;

              .hour {
                color: $brand-teal;
                font-size: 8px;
              }
            }

            &.th-30 {
              width: 30%;

              .hour {
                color: $brand-teal;
                font-size: 8px;
              }
            }
            &.th-12 {
              width: 12%;

              .add { display: none; }

              &:hover {
                .add {
                  display: flex;
                  flex-direction: row;
                  justify-content: center;
                  align-items: center;
                  height: 30px;
                  width: auto;
                  white-space: nowrap;
                  font-size: 8px;
                  border: 1px solid $first;
                  background-color: white;

                  i {
                    font-size: 8px;
                  }
                }
              }
            }
            &.th-10 {
              width: 10%;

              .add { display: none; }

              &:hover {
                .add {
                  display: flex;
                  flex-direction: row;
                  justify-content: center;
                  align-items: center;
                  height: 30px;
                  white-space: nowrap;
                  font-size: 8px;
                  border: 1px solid $first;

                  i {
                    font-size: 8px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  .schedule {
    display: flex;
    flex-direction: column;

    .filter-box {
      display: flex;
      flex-direction: column;
      width: 100%;
      background-color: #F4F9FC;
      border: 1px solid #F4F9FC;
      border-radius: 10px;
      padding: 10px;

      .actions-haut {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        .gauche {
          i {
            color: $dark;
            font-size: 18px;
          }
        }
        .droite {
          i {
            color: $dark;
            font-size: 18px;
          }
        }

        .date {
          color: $dark;
          white-space: nowrap;
          font-size: 16px;
          font-weight: bold;
        }
      }

      select {
        background-color: #F4F9FC;
        color: $dark;
        padding: 10px;
        cursor: pointer;
        border-radius: 5px;
        border: 1px solid #F4F9FC;
        margin-right: 10px;
      }

      .btns {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .action {
          background-color: #F4F9FC;
          color: $dark;
          padding: 10px;
          width: 40px;
          height: 40px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          border-radius: 5px;
          border: 1px solid #F4F9FC;
          margin-right: 10px;

          i {
            color: $dark;
            font-size: 30px;
          }
        }
      }
    }

    .header-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      max-height: 50px;
      width: 100%;

      .schedule-spacer { display: none;}

      .actions-gauche { display: none;}

      .select {display: none;}

      .btns {display: none; }

      .filter {
        background-color: #F4F9FC;
        color: $dark;
        padding: 10px;
        width: 40px;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 5px;
        border: 1px solid #F4F9FC;

        i {
          color: $dark;
          font-size: 25px;
        }
      }
    }
  }

  ._table {
    width: 100%;
    margin-top: 20px;
    overflow-x: auto;

    // .add {
    //   padding: 10px;
    //   background-color: rgba(137,0,0,0.2);
    //   color: $primary;
    // }

    table {
      width: 100%;

      thead {

        tr {
          border: 1px solid #eee;

          th {
            color: $dark;
            font-weight: bold;
            text-align: left;
            padding: 5px;
            border: 1px solid #eee;

            &.th-40 {width: 40%;}
            &.th-12 {width: 12%;}
            .date {
              display: flex;
              flex-direction: column;

              .week-day {
                font-size: 10px;
                color: $brand-teal;
              }
              .day {
                font-size: 15px;
                color: $dark;
                font-weight: bold;

                &.active {
                  color: $primary;
                }
              }
            }
          }
        }
      }
      tbody {
        tr {
          border-bottom: 1px solid #eee;

          &.bg {
            background-color: rgba(137,0,0,0.1);
            color: $dark;
          }

          td {
            color: $dark;
            text-align: left;
            padding: 5px;
            border: 1px solid #eee;
            cursor: pointer;
            min-height: 30px;

            .profile {
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-items: center;

              i {
                font-size: 30px;
                color: $brand-teal;
              }

              .avatar {
                border-radius: 40px;
                width: 40px;
                height: 40px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: rgba(137,0,0,0.1);
                color: $primary;
                font-weight: bold;
                font-size: 18px;
                padding: 5px;
                margin-right: 5px;
                text-transform: uppercase;
              }

              .content {
                display: flex;
                flex-direction: column;

                .name {
                  font-size: 14px;
                  font-weight: bold;
                  color:$dark;
                  display: flex;
                  flex-direction: column;
                  white-space: nowrap;
                  float: left;
                }

                .hrs {
                  font-size: 10px;
                  margin-top: -4px;
                  white-space: nowrap;
                  color: $brand-teal;
                }
              }
            }

            &.th-40 {
              width: 40%;

              .hour {
                color: $brand-teal;
              }
            }
            &.th-12 {
              width: 12%;

              .add { display: none; }

              &:hover {
                .add {
                  display: flex;
                  flex-direction: row;
                  justify-content: center;
                  align-items: center;
                  height: 30px;
                  width: auto;
                  background-color: $first;

                  span {display: none;}
                }
              }
            }
          }
        }
      }
    }
  }
}
