
.signup-page {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    font-size: 16px;
    color: $dark;

    .g-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: auto;
        position: relative;
        background-color: transparent;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;

        img {
            width: 300px;
            color: white;
        }

        .overlay {
            background-color: rgba(0, 0, 0, 0.9);
            width: 100%;
            min-height: 100vh;
            position:absolute;
            top:0px;
            right:0px;
            bottom:0px;
            left:0px;
            text-align: center;
        }

        .link {
            font-size: 18px;
            color: white;
            margin-top: 80vh;

            span {
                color: $primary;
            }
        }

        .profile-top-container {
            top: 50%;
            left: 50%;
            width: 90%;
            z-index: 2;
            padding: 10px;
            position: absolute;
            text-align: center;
            transform: translate(-50%, -50%);
        }

        .profile-photo {
            width: 100%;
            height: 100%;
            max-height: 300px;
            margin: 0 auto;
            background-size: cover;
            background-position: center;

            img {
                width: 300px;
            }
        }

    }

    .d-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $dark;
        padding-left: 80px;
        padding-right: 80px;
        padding-top: 40px;

        .dhead {
            display: flex;
            flex-direction: column;

            .step-title { text-transform: uppercase; }

            .progress {
                width: 200px;
                background-color: #eee;
                height: 10px;
                border-radius: 3px;

                .step-1 { background-color: $primary; width: 25%; }
                .step-2 { background-color: $primary; width: 50%; }
                .step-3 { background-color: $primary; width: 75%; }
                .step-4 { background-color: $primary; width: 100%; }
            }

            .message-big {
                font-family: 'Poppins Bold', Avenir, Calibri, sans-serif;
                color: $brand-darker;
                font-weight: 900;
                font-size: 34px;
                line-height: 1.2em;
                margin-top: 20px;

                span {
                    color: $brand-primary;
                }
            }
        }

        .s-form {
            width:100%;
            margin-bottom: 20px;
            // 699938560 contador
            // 675500768 Franck
            // 699479452 Mme Franck
            // 656538106 Mme Cécile

            .forgot {
              font-size: 12px;
              text-align: right;
            }

            .small {
              font-size: 10px;
              padding-top: 10px;
            }

            .litle-form {
              border-left: 3px solid #B0B5B9;
              padding-left: 10px;
              margin-top: 5px;

              input {
                &.petit {
                  width: 50%;
                  max-height: 35px;
                  border: 1px solid #B0B5B9;
                  border-radius: 5px;
                  font-size: 12px;
                }
                &:focus {
                  border: 1px solid #B0B5B9;
                }

              }
            }

            .needs {
              display: flex;
              flex-direction: row;
              justify-content: space-around;
              margin-top: 40px;

              .need {
                background-color: #F4F9FD;
                color: #B0B5B9;
                padding: 10px;
                border-radius: 5px;
                border: 2px dotted #B0B5B9;
                margin-right: 10px;
              }
            }

            .check-form {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              border-left: 3px solid #B0B5B9;
              padding-left: 10px;
              margin-top: 5px;

              input {
                width: 20px;
                height: 20px;
                border-radius: 5px;
              }

              input:checked {
                padding: 5px;
                background-color: $primary;
                color: white;
                border-radius: 5px;
                border-color: $primary;
              }
            }

            .workers {
              display: flex;
              flex-direction: row;
              background-color: #F4F9FD;
              border-radius: 5px;
              width: 100%;

              .worker {
                background-color: #F4F9FD;
                color: #B0B5B9;
                padding: 10px;
                border: 0.5px solid #B0B5B9;
                width: 20%;
                cursor: pointer;
                text-align: center;

                &:first-child {
                  border-radius: 5px 0px 0px 5px;
                }
                &:nth-child(5) {
                  border-radius: 0px 5px 5px 0px;
                }

                &.selected {
                  background-color: $primary;
                  color:white;
                  border: 1px solid $primary;
                }
              }
            }

            .form-control {
                background-color: #eee;
                border: 1px solid $brand-teal;
                box-shadow: none;
                color: $brand-dark;
                font-size: 14px;

                &:focus {
                    border: 2px solid $brand-teal;
                }

                &.form-control-lg { font-size: 16px; }
            }

            .bottom-form {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;

              .notyet {
                  color: #B0B5B9;
                  font-size: 18px;
              }
              .button {
                  display: flex;
                  flex-direction: row;
                  border-radius: 10px;
                  width: 50%;
                  float: right;

                  .text {
                      text-align: center;
                      flex: 80%;
                      background-color: $primary;
                      color: white;
                      padding: 10px;
                      border-radius: 10px 0px 0px 10px;

                      &.step123 {
                          background-color: #D4D2D3;
                          color: #B0B5B9;
                      }
                  }

                  .icon {
                      background-color: rgba(137,0,0,0.8);
                      width: 20%;
                      border-radius: 0px 10px 10px 0px;
                      display: flex;
                      justify-content: center;
                      align-items: center;

                      &.step123 {
                          background-color: #BDCBD4;
                          color: #B0B5B9;
                      }

                      i {
                          font-size: 20px;
                          color: white;
                      }
                  }
              }
            }

        }
    }
}

@media(max-width: 560px) {
  .signup-page {
    display: flex;
    flex-direction: column;
  }
}
