
.signup-page {
    width: 100%;
    height: 100vh;
    font-size: 16px;
    color: $dark;

    .profile-top {
        width: 100%;
        height: 300px;
        position: relative;
        background-color: transparent;
        background-size: 800px 600px;
        background-repeat: no-repeat;
        background-position: center;
        border-bottom: solid 0.25px $teal;
        border-bottom: 5px solid $secondary;
        border-radius: 0px 0px 100px 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            width: 200px;
            color: white;
        }

        .overlay {
            background-color: rgba(0, 0, 0, 0.9);
            width: 100%;
            height: 300px;
            position: relative;
            border-radius: 0px 0px 100px 100px;
        }

        .profile-top-container {
            top: 50%;
            left: 50%;
            width: 90%;
            z-index: 2;
            padding: 10px;
            position: absolute;
            text-align: center;
            transform: translate(-50%, -50%);
        }

        .profile-photo {
            width: 100%;
            height: 100%;
            max-height: 250px;
            margin: 0 auto;
            background-size: cover;
            background-position: center;

            img {
                width: 200px;
            }
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $dark;

        .buttons {
            display: flex;
            flex-direction: row;

            button {
                color: white;
                background-color: $dark;
                border-radius: 10px;
                z-index: 9999;
                border: none;
                padding: 10px;
                min-width: 200px;
                font-size: 14px;

                &.app-store {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    color: white;
                    margin-right: 10px;
                    text-align: left;
                    font-size: 14px;

                    img {
                        width: 40px;
                        padding-right: 10px;
                    }
                }
                &.play-store {
                    color: white;
                    margin-right: 10px;
                    text-align: left;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    font-size: 14px;

                    img {
                        width: 40px;
                        padding-right: 10px;
                    }
                }
            }
        }

        .head {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 10px;

            .message-big {
                font-family: 'Poppins Bold', Avenir, Calibri, sans-serif;
                color: $brand-darker;
                font-weight: 900;
                font-size: 34px;
                text-align: left;
                line-height: 1.1em;
                text-align: center;

                span {
                    color: $brand-primary;
                }
            }

            .message-small {

            }
        }

        ._main {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;

            .gauche {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 20px;

                .btn-list {
                    width: 250px;
                    color:white;
                    padding: 20px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    background-color: $primary;
                    border-radius: 10px;
                    cursor: pointer;

                    span {
                      font-weight: bold;
                    }

                    div {
                        background-color: $brand-darker;
                        padding: 5px;
                        border-radius: 5px;
                        width: 24px;
                        height: 24px;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;

                        i {
                          font-size: 14px;
                        }
                    }
                }

                .list-box {
                    display: flex;
                    flex-direction: column;
                    background-color: #F4F3F3;
                    margin-top: 10px;
                    padding: 10px;
                    border-radius: 10px;
                    width: 100%;
                    max-width: 250px;

                    .list-item {
                        .selected {
                            width: 100%;
                            background-color: #FBD1D1;
                            padding: 5px;
                            border-radius: 5px;

                            i {
                              color: $secondary;
                            }
                        }


                    }
                }
            }
            .vertical-line {
                height: 250px;
                border-right: 1px solid $brand-teal;
            }
            .droite {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 20px;
                max-width: 300px;

                img {
                    width: 100px;
                }

                p {
                    font-family: 'Poppins Bold', sans-serif;
                    line-height: 1.1em;
                    text-align: center;
                }

                .action {
                    color: $secondary;
                    border-radius: 10px;
                    padding: 10px;
                    border: 2px solid $brand-teal;
                    cursor: pointer;
                }
            }
        }

        .link {
            margin-top: 20px;
            font-size: 18px;
            margin-bottom: 60px;

            span {
                color: $primary;
            }
        }
    }

    .signup-form {
        width:100%;
        max-width: 300px;

        .form-control {
            background-color: #eee;
            border: 1px solid $brand-teal;
            box-shadow: none;
            color: $brand-dark;
            font-size: 14px;

            &:focus {
                border: 2px solid $brand-teal;
            }

            &.form-control-lg { font-size: 16px; }
        }

        .button {
            display: flex;
            flex-direction: row;
            border-radius: 10px;

            .text {
                text-align: center;
                flex: 80%;
                background-color: $secondary;
                color: white;
                padding: 10px;
                border-radius: 10px 0px 0px 10px;
            }

            .icon {
                background-color: #FBC9C9;
                width: 100px;
                border-radius: 0px 10px 10px 0px;
                display: flex;
                justify-content: center;
                align-items: center;

                i {
                    font-size: 20px;
                    color: white;
                }
            }
        }
    }

}
